@import "mixins";
@import "variablels";
@import "media";

html, body{
    height: 100%;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
main{
    flex: 1 1 auto;
}
ul, li{
    list-style-type: none;
}
a{
    text-decoration: none!important;
}

.menu{
    @include flexblock;
    margin-top: 40px;
    .logo{
        width: $widthblock;
    }
    .menu-item{
        width: $widthblock;
        display: flex;
        justify-content: flex-end;
    }
}
.menu-item{
    ul{
        display: flex;
        li{
            margin-right: 60px;
            &:last-child{
                margin-right: 0;
            }
        }
        a{
            text-transform: uppercase;
            color: $colorLinks;
            font-size: 13px;
            &:hover{
                color: $colorLinksHover;
            }
        }
    }
}
.active{
    color: $colorLinksActive!important;
}
.mobile-menu{
    display: none;
}
.ferst-block{
    @include flexblock;
    .heading{
        width: 70%;
    }
    .main-img{
        width:40%;
    }
}
.mr{
    margin: 130px;
}
.heading{
    padding-right: 60px;
    padding-top: 60px;
    .headingone{
        p{
            font-size: 50px;
            line-height: 1.3;
            span{
                color: $colorTextPink;
            }
        }
    }
    .headingtwo{
        margin-top: 30px;
        p{
            font-size: 25px;
            span{
                color: $colorTextPink;
            }
        }
    }
}
.main-img{
    img{
        width: 80%;
        float: right;
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }
}
footer{
    padding: 80px 0;
    border-top: 1px solid #efebeb;
}
.footer-content{
    text-align: center;
    line-height: 1;
    h4{
        font-weight: bold;
        margin-bottom: 15px;
    }
    a{
        color: $colorLinksActive;
        &:hover{
            color: $colorLinksHover;
        }
    }
}
.footer-icons{
    text-align: center;
    margin-top: 40px;
    a{
        color: $colorLinks;
        margin-right: 60px;
        &:last-child{
            margin-right: 0;
        }
        &:hover{
            color: $colorLinksHover;
        }
    }
}