@media (max-width: 991px){
    .mobile-menu{
        display:block!important;
    }
}
@media (max-width: 991px){
    .menu-item{
        display:none!important;
    }
}
@media (max-width: 991px){
    .menu .logo{
        width: 100%!important;
    }
}
@media (max-width: 1000px){
    .ferst-block{
        display: block!important;
        .heading{
            width: 100%!important;
        }
        .main-img{
            width:100%!important;
        }
    }
}
@media (max-width: 1000px){
    .main-img{
        img{
            width: 100%!important;
            float: left!important;
            max-width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}
