@media (max-width: 991px){
    .mobile-menu{
        display:block!important;
    }
}
@media (max-width: 991px){
    .menu-item{
        display:none!important;
    }
}
@media (max-width: 991px){
    .menu .logo{
        width: 100%!important;
    }
}
@media (max-width: 1391px){
    .heading{
        padding-top: 0px!important;

    }
}
